div:nth-child(1)
{
  width: 250px;
  height: 100px;
  background-color: #FF0000; /* red */
}

div:nth-child(2)
{
  width: 250px;
  height: 100px;
  background-color: #0000FF; /* blue */
}

div:nth-child(3)
{
  width: 250px;
  height: 100px;
  background-color: #008000; /* green */
}
