div:nth-child(1)
{
  width: 250px;
  height: 100px;
  background-color: #FF0000; /* red */
  margin-bottom: 20px;
}

div:nth-child(2)
{
  width: 250px;
  height: 100px;
  background-color: #0000FF; /* blue */
  margin-top: 20px;
}
